.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #244c5a;
    padding: 15px;
}

img {
    width: 150px;
    height: 160px;
}

.title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 767px) {
    .img {
        display: none;
    }

    img {
        width: 130px;
        height: 140px;
    }

    .title {
        margin: 25px 0 8px;
        font-size: 25px;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }
}